<div class="page-header">
  <div class="row">
    <div class="col-lg-11 col-xs-10">
      <h1>Pokemons</h1>
    </div>
    <div class="col-lg-1 col-xs-2">
      <%= link_to('<span style="font-size: 3em;" class="glyphicon glyphicon-plus-sign"></span>'.html_safe , new_pokemon_path) if can? :manage, Pokemon %>
    </div>
  </div>
</div>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokemons.each do |pokemon| %>
      <tr>
        <td><%= image_tag pokemon.photo.thumb, class: "img-responsive" %></td>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.description %></td>

        <td><%= link_to('Show', pokemon ) if can? :read, pokemon%></td>
        <td><%= link_to('Edit', edit_pokemon_path(pokemon)) if can? :manage, pokemon %></td>
        <td><%= link_to('Destroy', pokemon, method: :delete, data: { confirm: 'Are you sure?' }) if can? :manage, pokemon %></td>
        <td><%= link_to("Agregar pokemon a mi lista", add_pokemon_path(pokemon), method: :post) if can? :add_pokemon, Catch %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


